<div class="profile-card">
  <div class="profile-card__container">
    <img src="../../../assets/images/user-image.png" alt="User image" class="profile-card__image">
    <div class="profile-card__name">
      <strong>John Lennon</strong>
      <span>johnny</span>
    </div>
  </div>
  <div class="profile-card__description">
    Lorem ipsum odor amet, consectetuer adipiscing elit. Augue neque faucibus. Orci facilisi ullamcorper donec imperdiet
    senectus. Netus neque eget aptent fringilla. Platea sagittis proin tellus adipiscing tempus. Bibendum neque metus.
    Accumsan nascetur vel et.
  </div>
  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">JavaScript</div>
  </div>
  <div class="profile-card__action-btns">
    <button class="btn">Subscribe</button>
    <!-- <button class="btn"></button> -->
  </div>
</div>