@if (userProfileProps) {
<div class="profile-card">
  <div class="profile-card__container">
    <img [src]="userProfileProps.avatarUrl | imageUrlBuilder" alt="User image" class="profile-card__image">
    <div class="profile-card__name">
      <strong class="h6">{{userProfileProps.firstName + ' ' + userProfileProps.lastName}}</strong>
      <span class="subtitle">{{userProfileProps.username}}</span>
    </div>
  </div>
  <div class="profile-card__description">{{userProfileProps.description}}</div>
  <div class="profile-card__tags">
    @for (tag of userProfileProps.stack; track tag) {
    <div class="skill-tag">{{tag}}</div>
    }
  </div>
  <div class="profile-card__action-btns">
    <button class="btn">Subscribe</button>
    <!-- <button class="btn"></button> -->
  </div>
</div>
}