@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/fonts.scss';

:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 10%;
}

.login-form-container {
  width: 440px;
}

.login-title {
  margin-bottom: 60px;
}

.login-form {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 8px;
  }

  &__input {
    margin-bottom: 16px;
  }

  &__btn {
    margin-top: 32px;
  }
}

.login-logo-container {
  width: 440px;
}
