@import './assets/styles/variables.scss';
@import './assets/styles/fonts.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $light-color;
  font-family: $primary-fonts;
  background: $dark-color url('./assets/images/background.jpg') no-repeat center
    center / 100% 100%;
}

.h1 {
  font-family: $primary-fonts;
  line-height: 117%;
  font-size: 48px;
  font-weight: 800;
}

.h6 {
  font-family: $primary-fonts;
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
}

.subtitle {
  font-family: $primary-fonts;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.btn {
  background-color: $primary-color;
  color: $dark-color;
  border: 1px solid $dark-color;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;

  &:active {
    box-shadow: 4px 4px 0 0 rgba(255, 255, 255, 0.25);
  }
}

.skill-tag {
  display: inline;
  padding: 4px 8px;
  border: 1px solid $light-color;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
}

.tt-control-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
}

.tt-input {
  padding: 12px 20px;
  border: 1px solid $light-color;
  border-radius: 4px;
  color: $light-color;
  background-color: $dark-color;
  font-size: 14px;
  font-weight: 200;
  line-height: 21px;
}
