@import './assets/styles/variables.scss';
@import './assets/styles/fonts.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $dark-color;
  color: $light-color;
  font-family: $primary-fonts;
}

.text-bold {
  font-family: $primary-fonts;
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
}

.text-thin {
  font-family: $primary-fonts;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.btn {
  border: none;
  background-color: $primary-color;
  color: $dark-color;
  border-radius: 2px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.skill-tag {
  display: inline;
  padding: 4px 8px;
  box-sizing: border-box;
  border: 1px solid $light-color;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
}
