// Colors:

// Primary colors:
$primary-color: #ae7aff;
$primary-dark-color: rgba(174, 122, 255, 0.2);

// Secondary colors:
$dark-color: #000;
$light-color: #faf4f0;
$yellow-color: #fae8a4;
$yellow-light-color: rgba(250, 232, 164, 0.8);
$pink-color: #e99898;
$pink-light-color: rgba(233, 152, 152, 0.8);
$green-color: #98e9ab;
$green-light-color: rgba(152, 233, 171, 0.8);
$grey-color: #5f646d;
$grey-light-color: rgba(95, 100, 109, 0.85);
